<div class="mat-elevation-z4">
    <table mat-table [dataSource]="emprestimos">
      <!-- Id Column -->
      <ng-container matColumnDef="codReserva">
        <th mat-header-cell *matHeaderCellDef>Código da reserva</th>
        <td mat-cell *matCellDef="let row">{{row.codReserva}}</td>
      </ng-container>

      <!-- Id Column -->
      <ng-container matColumnDef="codItem">
      <th mat-header-cell *matHeaderCellDef>Código do item</th>
      <td mat-cell *matCellDef="let row">{{row.codItem}}</td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="nomeItem">
        <th mat-header-cell *matHeaderCellDef>Item</th>
        <td mat-cell *matCellDef="let row">{{row.nomeItem}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="tipoItem">
      <th mat-header-cell *matHeaderCellDef>Tipo de item</th>
      <td mat-cell *matCellDef="let row">{{row.tipoItem}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="dataReserva">
      <th mat-header-cell *matHeaderCellDef>Data de reserva</th>
      <td mat-cell *matCellDef="let row">{{row.dataReserva | date:'dd-MM-YYYY'}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="prazoReserva">
      <th mat-header-cell *matHeaderCellDef>Data de devolução</th>
      <td mat-cell *matCellDef="let row">{{row.prazoReserva | date:'dd-MM-YYYY'}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="descricaoLocal">
        <th mat-header-cell *matHeaderCellDef>Local</th>
        <td mat-cell *matCellDef="let row">{{row.descricaoLocal}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="nomeAutor">
      <th mat-header-cell *matHeaderCellDef>Autor</th>
      <td mat-cell *matCellDef="let row">{{row.nomeAutor}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="nomeEditora">
      <th mat-header-cell *matHeaderCellDef>Editora</th>
      <td mat-cell *matCellDef="let row">{{row.nomeEditora}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="descricaoSecao">
        <th mat-header-cell *matHeaderCellDef>Seção</th>
        <td mat-cell *matCellDef="let row">{{row.descricaoSecao}}</td>
      </ng-container>

  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  